<br><h2>WOOOOHOOOOO! :) </h2>


<br> <dl class="row">
  <dt class="col-sm-3"><%=  @book.name %></dt>
  <dd class="col-sm-9"><%=  @book.author %></dd>


    </dl>
  </dd>
</dl>

<img src="https://vignette.wikia.nocookie.net/harrypotter/images/b/bd/7xmtxRc9nQnCuWINuTT4SMP5NJc.jpg/revision/latest/scale-to-width-down/333?cb=20130803164345" class="img-fluid" alt="Responsive image">
